
# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT

# The schema specifications for this file are documented here:
# https://github.com/cognizant-ai-lab/neuro-san/blob/main/docs/agent_hocon_reference.md

{
    "llm_config": {
        "model_name": "gpt-4o",
    },
    "tools": [
        # These tool definitions do not have to be in any particular order
        # How they are linked and call each other is defined within their
        # own specs.  This could be a graph, potentially even with cycles.

        # This first agent definition is regarded as the "Front Man", which
        # does all the talking to the outside world/client.
        # It is identified as such because it is either:
        #   A) The only one with no parameters in his function definition,
        #      and therefore he needs to talk to the outside world to get things rolling.
        #   B) The first agent listed, regardless of function parameters.
        #
        # Some disqualifications from being a front man:
        #   1) Cannot use a CodedTool "class" definition
        #   2) Cannot use a Tool "toolbox" definition
        {
            "name": "math_guy",

            "function": {

                # The description acts as an initial prompt.
                "description": """
I am a test agent network that can do math with values in sly_data.
Just give me the name of an arithmetic operator and I will do the work
on the secret numbers.
""",
                # This parameters section isn't strictly needed if the agent network
                # is not expected to be called as an external agent.
                # This one is used with math_guy_passthrough, so we need to add this.
                "parameters": {
                    "type": "object",
                    "properties": {
                        "operator": {
                            "type": "string",
                            "description": "The single-word name of the math operator to perform"
                        }
                    },
                    "required": ["operator"]
                },

                # You can also optionally specify the schema needed for any sly_data input.
                # This is to allow generic clients to prompt for private-data inputs
                # that do not belong in the chat stream.
                "sly_data_schema": {
                    "type": "object",
                    "properties": {
                        "x": {
                            "type": "float",
                            "description": "The first operand for the arithmetic operation"
                        },
                        "y": {
                            "type": "float",
                            "description": "The second operand for the arithmetic operation"
                        }
                    },
                    "required": ["x", "y"]
                }
            },

            "instructions": """
Always call the calculator tool to populate the return sly_data correctly.
Return verbatim whatever it returns.
""",
            "allow": {
                "to_upstream": {
                    "sly_data": ["equals"]
                }
            },
            "tools": ["calculator"]
        },

        # The calculator is a low-level CodedTool and does not call anyone else.
        # He is called by the front-man.
        {
            "name": "calculator",
            "function": {
                "description": "Performs arithmetic on sly-data values x and y given the operator",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "operator": {
                            "type": "string",
                            "description": "The single-word name of the math operator to perform"
                        }
                    },
                    "required": ["operator"]
                }
            },
            "class": "calculator.Calculator"
        }
    ]
}
