
# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT

# The schema specifications for this file are documented here:
# https://github.com/cognizant-ai-lab/neuro-san/blob/main/docs/toolbox_info_hocon_reference.md

{
    # ------------------------------------------------------------------------------------------
    # Overview:
    # - This file defines configurations for langchain's tools and toolkits as well as shared coded tools.
    # - More details about LangChain tools and toolkits can be found at:
    #   https://python.langchain.com/docs/integrations/tools/
    # - See https://github.com/cognizant-ai-lab/neuro-san/blob/main/docs/agent_hocon_reference.md for more informations on coded tools.
    #
    # Customization via Agent HOCON File:
    # - In the agent HOCON file, users can define an "args" section to **add or override** 
    #   arguments from this tool configuration file dynamically at runtime.
    # ------------------------------------------------------------------------------------------

    # --------------------------- Langchain's Tools and Toolkits -------------------------------
    # Requirements:
    # - Each tool or toolkit must have a "class" key.
    # - The specified class must be available in the server's PYTHONPATH.
    # - Additional dependencies (outside of langchain_community) must be installed separately.

    # ---------------- Bing Search Tool ----------------
    # This configuration defines the Bing Search tool.
    # It initializes a BingSearchResults instance with:
    # - api_wrapper: An instance of BingSearchAPIWrapper
    # BingSearchResults(api_wrapper=BingSearchAPIWrapper())

    "bing_search": {
        # Fully qualified class path of the tool to be instantiated.
        "class": "langchain_community.tools.bing_search.BingSearchResults",

        # (Optional) URL for reference documentation about this tool.
        "base_tool_info_url": "https://python.langchain.com/docs/integrations/tools/bing_search/",

        # Arguments for the tool's constructor.
        # These arguments will be used when instantiating the tool unless overridden in the agent HOCON file.
        "args": {
            "api_wrapper": {
                # If the argument should be instantiated as a class, specify it using the "class" key.
                # This tells the system to create an instance of the provided class instead of passing it as-is.
                "class": "langchain_community.utilities.BingSearchAPIWrapper"
            },
        }
    },

    # ---------------- Tavily Search Tool ----------------
    # This configuration sets up the Tavily Search tool.
    # It initializes a TavilySearchResults instance with:
    # - max_results: Specifies that the search should return 5 results
    # TavilySearchResults(max_results=5)

    "tavily_search": {
        # This is the class of the tool to use
        "class": "langchain_community.tools.tavily_search.TavilySearchResults",

        # This is where more info on the tool can be found.
        "base_tool_info_url": "https://python.langchain.com/api_reference/community/tools/langchain_community.tools.tavily_search.tool.TavilySearchResults.html",

        # Arguments for the tool's constructor.
        # These arguments will be used when instantiating the tool unless overridden in the agent HOCON file.
        "args": {
            "max_results": 5
        }
    },

    # NOTE on Request tools and toolkit: 
    # There are inherent risks in giving models discretion to execute real-world actions.
    # Users must "opt-in" to these risks by setting allow_dangerous_request=True to use these tools.

    # ---------------- Requests Toolkit (Batch of Tools) ----------------

    # This defines a requests toolkit that provides multiple HTTP request utilities.
    # It initializes RequestsToolkit with:
    # - requests_wrapper: An instance of TextRequestsWrapper (used to manage headers)
    # - allow_dangerous_requests: Enables execution of potentially unsafe requests
    # The `.get_tools()` method is called, meaning this toolkit returns multiple tools.
    # RequestsToolkit(allow_dangerous_requests=True).get_tools()

    "requests_toolkit": {
        # This is the class of the tool to use
        "class": "langchain_community.agent_toolkits.openapi.toolkit.RequestsToolkit",

        # This is where more info on the tool can be found.
        "base_tool_info_url": "https://python.langchain.com/docs/integrations/tools/requests/",

        # Arguments for the tool's constructor.
        # These arguments will be used when instantiating the tool unless overridden in the agent HOCON file.
        "args": {
            "allow_dangerous_requests": true
        }
    },

    # ---------------- Individual HTTP Request Tools ----------------
    
    # GET request tool
    # This sets up a tool that can send HTTP GET requests.
    # It initializes RequestsGetTool with:
    # - requests_wrapper: Manages request headers
    # - allow_dangerous_requests: Enables potentially unsafe requests
    # RequestsGetTool(allow_dangerous_requests=True)

    "requests_get": {
        # This is the class of the tool to use
        "class": "langchain_community.tools.requests.tool.RequestsGetTool",

        # This is where more info on the tool can be found.
        "base_tool_info_url": "https://python.langchain.com/docs/integrations/tools/requests/",

        # Arguments for the tool's constructor.
        # These arguments will be used when instantiating the tool unless overridden in the agent HOCON file.
        "args": {
            "allow_dangerous_requests": true
        }
    },

    # POST request tool
    # This configures an HTTP POST request tool.
    # It is similar to the GET tool but allows sending data in the request body.
    # RequestsPostTool(allow_dangerous_requests=True)

    "requests_post": {
        # This is the class of the tool to use
        "class": "langchain_community.tools.requests.tool.RequestsPostTool",

        # This is where more info on the tool can be found.
        "base_tool_info_url": "https://python.langchain.com/docs/integrations/tools/requests/",

        # Arguments for the tool's constructor.
        # These arguments will be used when instantiating the tool unless overridden in the agent HOCON file.
        "args": {
            "allow_dangerous_requests": true
        }
    },

    # PATCH request tool
    # This allows sending PATCH requests, typically used to update resources.
    # RequestsPatchTool(allow_dangerous_requests=True)

    "requests_patch": {
        # This is the class of the tool to use
        "class": "langchain_community.tools.requests.tool.RequestsPatchTool",

        # This is where more info on the tool can be found.
        "base_tool_info_url": "https://python.langchain.com/docs/integrations/tools/requests/",

        # Arguments for the tool's constructor.
        # These arguments will be used when instantiating the tool unless overridden in the agent HOCON file.
        "args": {
            "allow_dangerous_requests": true
        }
    },

    # PUT request tool
    # This allows sending PUT requests, which are used to replace resources.
    # RequestsPutTool(allow_dangerous_requests=True)

    "requests_put": {
        # This is the class of the tool to use
        "class": "langchain_community.tools.requests.tool.RequestsPutTool",

        # This is where more info on the tool can be found.
        "base_tool_info_url": "https://python.langchain.com/docs/integrations/tools/requests/",

        # Arguments for the tool's constructor.
        # These arguments will be used when instantiating the tool unless overridden in the agent HOCON file.
        "args": {
            "allow_dangerous_requests": true
        }
    },

    # DELETE request tool
    # This enables HTTP DELETE requests to remove resources.
    # RequestsDeleteTool(allow_dangerous_requests=True)

    "requests_delete": {
        # This is the class of the tool to use
        "class": "langchain_community.tools.requests.tool.RequestsDeleteTool",

        # This is where more info on the tool can be found.
        "base_tool_info_url": "https://python.langchain.com/docs/integrations/tools/requests/",

        # Arguments for the tool's constructor.
        # These arguments will be used when instantiating the tool unless overridden in the agent HOCON file.
        "args": {
            "allow_dangerous_requests": true
        }
    },

    # --------------------------------- Shared CodedTool ------------------------------------
    # Keys:
    # - "class" specifies the tool's implementation as module.ClassName where module is in AGENT_TOOL_PATH or neuro_san/coded_tools.
    # - "description" let the agent know what the tool does.
    # - "parameters" are arguments' definitions and types.
    # Note: Parameters are optional and may be omitted if not required.
    # See "parameters" section in https://github.com/cognizant-ai-lab/neuro-san/blob/main/docs/agent_hocon_reference.md

    # Tool for performing basic web searches using duckduckgo.
    "website_search": {
        "class": "web_search.WebSearch",
        "description": "Assist caller with searching an url on the web by using your tool.",
        "parameters": {
            "type": "object",
            "properties": {
                "search_terms": {
                    "type": "string",
                    "description": "Search terms to return options."
                },
            },
            "required": ["search_terms"]
        },
    },

    # Tool for retrieving contextually relevant information from a list of URLs using a retrieval-augmented generation (RAG) strategy.
    "rag_retriever": {
        "class": "rag.Rag",
        "description": "Retrieve information on the given urls",
        "parameters": {
            "type": "object",
            "properties": {
                "urls": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "List of url to retrieve info from"
                },
                "query": {
                    "type": "string",
                    "description": "Query for retrieval"
                }
            },
            "required": ["urls", "query"]
        },
    },

    # Tool for searching the web using the Google Serper.
    "google_serper": {
        "class": "google_serper.GoogleSerper",
        "description": "Search the web using a keyword-based query.",
        "parameters": {
            "type": "object",
            "properties": {
                "query": {
                    "type": "string",
                    "description": "The search term or question to look up online."
                }
            },
            "required": ["query"]
        }
    }
}
