# Per https://stackoverflow.com/questions/7522250/how-to-include-package-data-with-setuptools-distutils
# We cannot use package_data and expect data files to get into the source distribution.
# So we use a MANIFEST.in file to specify the non-python files that go into the library.

recursive-include neuro_san/api/grpc *
recursive-include neuro_san/api/scripts *
recursive-include neuro_san/registries *
recursive-exclude tests *
recursive-exclude build_scripts *
recursive-exclude neuro_san/api/grpc/__pycache__ *
recursive-exclude neuro_san/deploy/internal *
include neuro_san/deploy/build.sh
include neuro_san/deploy/Dockerfile
include neuro_san/deploy/entrypoint.sh
include neuro_san/deploy/logging.json
include neuro_san/deploy/run.sh
include neuro_san/internals/run_context/langchain/llms/default_llm_info.hocon
include neuro_san/internals/run_context/langchain/toolbox/toolbox_info.hocon
